<ion-header>
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search"></ion-searchbar>

  <ion-list mode="ios" class="search-list">
    <ion-item mode="ios" *ngFor="let el of data">
      {{el}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="processing"></div>
</ion-content>
